{% extends 'basefront.html.twig' %}

{% block title %}New Conge{% endblock %}

{% block body %}
    <h2>Remplir une nouvelle demande</h2>

    {{ include('conge/_form.html.twig') }}

    <a href="{{ path('app_conge_index') }}">consulter la liste des demandes</a>

    <h2>Votre Solde de Conge</h2>

    <table border=1,class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_Employe</th>
                <th>Solde_compensation</th>
                <th>Solde_maladie</th>
                <th>Solde_exception</th>
                <th>Solde_annuel</th>
            </tr>
        </thead>
        <tbody>
        {% for solde_conge in solde_conges %}
            <tr>
                <td>{{ solde_conge.id }}</td>
                <td>{{ solde_conge.employe }}</td>
                <td>{{ solde_conge.soldeCompensation }}</td>
                <td>{{ solde_conge.soldeMaladie }}</td>
                <td>{{ solde_conge.soldeException }}</td>
                <td>{{ solde_conge.soldeAnnuel }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
       

{% endblock %}
